{# Map colors to status #}
{% set status_css = {
    "0": "",
    "1": "color-warning",
    "2": "color-success",
    "3": "color-error"
}
%}

<div class="form-item ethereum-status-widget">
    <label for="">{{ title }}</label>

    <div class="form-item">

        <div id="ethereum-status"
             class="{{ status_css[status_id] }}"
             style="display: inline-block; padding: .3em; margin: 0;"
             data-status--val="{{ status_id }}"
             data-status--valid-address = "{{ address }}"
             data-status--map='{{ status_map }}'
             data-status--css-map='{{ status_css|json_encode() }}'>
            <code class="ethereum-status--address">{{ address|lower }}</code>
            (<span class="ethereum-status--message">{{ status }}</span>)
        </div>

        <span id="ethereum-verify" class="ethereum-user-connector" {{ (status_id != 2) ? '' : 'style="display: none" ' }}>
            <button class="button button--primary">Verify address</button>
        </span>

        <noscript>Javascript is required.</noscript>
        <div id="myMessage"></div>
    </div>

</div>
