<div class="form-item ethereum-status-widget">
    <label for="">{{ title }}</label>

    <div class="form-item">

        {#<input id="ethereum_address" value="{{ address }}" class="is-disabled form-text" size="60" type="text" disabled="disabled" readonly="readonly"/>#}
        {{ address }} ({{ status }})

        <input id="ethereum_drupal_hash" value="{{ hash }}" type="hidden" />

        {% if status_id == 1 %}
            <button class="button button--primary">Validate address</button>
            <noscript>Javascript is required.</noscript>
        {% endif %}

        <div id="ethereum-message" class="hidden">
            <p>Currently <a href="https://metamask.io/"> Metamask</a> Chrome extension is a supported and required transaction signer. get it <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn">here</a>.</p>
        </div>

    </div>

</div>
{#{{ kint(status_id) }}#}
